#page-blocks-personality_test-view .content_personality_test{
    width: 60%;
    margin: 30px auto;
}

#page-blocks-personality_test-view .title_personality_test{
    text-align: left;
}

#page-blocks-personality_test-view .content-accept {
    text-align: left;
}
#page-blocks-personality_test-view .personality_test_item {
  height: 3em;
  font-size: 110%;
}
#page-blocks-personality_test-view .content-accept label{
    line-height: 16px;
}

#page-blocks-personality_test-view .content-accept input[type="checkbox"]{
    margin: 0 0 0 10px;
}

#page-blocks-personality_test-view .content-accept input[type="submit"]{
    margin: 10px 0;
}
#page-blocks-personality_test-view .content-accept .error{
    color: #ff3333;
}
.block_personality_test img{
    float: left;
    margin: 0 3px 3px 0;
}


/* The container must be positioned relative: 
.custom-select {
    font-family: Arial;
  }
  h2 {
      float: right;
  }
  .custom-select select {
    display: none; 
  }
  
  .select-selected {
    background-color:forestgreen;
  }
  
  .select-selected:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
*/